<strong>Advanced Web Development with Ruby on Rails</strong>
<ul>
  <% @files.each do |file| %>
    <li><a href="<%= url_for(:action => 'chapter') %>/<%= file %>"><%= file %></a></li>
  <% end %>
</ul>

